/*Farver
Grå ish: #A6A4A8
Lilla ish: #dabaf1
Pink ish: #f4c8c8
Mørke lilla/brun: #726E75
Mellem mørk brun: #948b89
lyse brun: #b6a39e
tyrkis ish: #9dd9d2
mørke lilla/blå: #444054
hvid: #FFFFFF
*/

/*font*/
@font-face{
    font-family: Sitka;
    src:url(./Fonts/Sitka.ttc)
}


body{
    
    background-color: #D6CCCB;
    width: 99%;
    margin: 0;
    
}


/*baggrund*/
.background-pynt-right{
    position: absolute;
    right: -110px;
    bottom: -150px;
    z-index: -1;
    opacity: 1;
    width: 307px;
    height: 538px;
    position: fixed;
}

.background-pynt-left-top{
    position: absolute;
    left: -90px;
    top: -120px;
    z-index: -1;
    opacity: 1;
    width: 307px;
    height: 260px;
    position: fixed;
}

.background-pynt-left-buttom{
    position: absolute;
    left: -160px;
    bottom: 0;
    z-index: -1;
    opacity: 1;
    width: 307px;
    height: 260px;
    rotate: 300deg;
    position: fixed;

}

.aboutme_pynt-right{
    right: -100px;
    bottom: -74px;
    z-index: -1;
    opacity: 0.7;
    width: 307px;
    height: 287px;
    position: fixed;
    margin-right: 0;
    padding-right: 0;
}




/*index css*/


.title-txt, .intro-title{
    color: white;
}

.title-txt{
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: italic; 
    margin-left: 190px;
    font-size: 80px;
}

.intro-txt{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    position: absolute;
    left: 650px;
    top: 268px;
    width: 800px;
    
}

.intro-title{
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: italic; 
    left: 635px;
    font-size: 70px;
    position: relative;
    bottom: 50px;
    max-width: 800px;
    
     
}

img{
    background: none;
    margin: 10px 20px 10px 20px;
    position: absolute;

}

.profile{
    left: 300px;
    height: 350px;
    width: 300px;
    top: 200px;
}

.fp_button{
    right: 66px;
    position: absolute;
    left: 1150px;
    
    animation-name: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-delay: 0.1s;
    animation-duration: 10s;
    --animate-repeat: infinite;
    
    
          
}

.button_picture{
    width: 135px;
    height: 90px;
    top: 70px
}

/*animation på intro-txt*/
.intro-txt{
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
        margin-left: 100%;
        width: 200%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
  }

/*forside*/
.Intro-forside{
    width: 1300px;
}


.forside-title{
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: italic; 
    margin-left: 280px;
    font-size: 90px;
    position: absolute;
    margin-top: 150px;

}

.forside-title, .forside-txt{
    color: black;
}

.forside-txt{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    right: 300px;
    left: 486px;
    position: absolute;
    top: 270px;
} 

.img{
    position: absolute;
    width: 163px;
    height: 187px;
    left:  265px;
    top: 270px;
    

}

.btn-forside{
    display: inline;
}

.btn-forside:hover{
    background-color: black;
    color: white;
}

button{
    border-radius: 11px;
    width: 198px;
    padding-top: 1px;
    left: 486px;
    top: 400px;
    border-color: transparent;
    font-family: SitkaSubheading, Sitka Subheading;
    font-size: 20px;
    text-align: center;
    position: absolute;
}

p{
    text-align: center;
}

/*row of pictures - forside*/
.flex-container{
    display: flex;
}

.flex-container > div{
    margin: 35px;
    padding: 0;
    right: 507px;
    justify-content: space-around;
    position: relative;
    top: 550px;


}

  /*billede 1*/
.forside-billede-1{
    position: relative;
    width: 239px;
    height: 424.175px;
    
    
  }

.picturetext-billede-1{
    position: absolute;
    left: 470px;
    top: 1030px;
    margin-bottom: 20px; 

}

.billede-1-lokation{
    font-family: noto sans, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    color: black;
    position: absolute;
    left: 64px;
    top: 425px;
    max-width: 400px;
}

.billede-1-kamera{
    font-family: noto sans, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    color: black;
    position: absolute;
    left: 64px;
    top: 472px
}

.icon-location-1{
    height: 33.08px;
    width: 24.83px;
    right: 214px;
    top: 441px;
}

.icon-camera-1{
    height: 25.08px;
    width: 24.83px;
    right: 214px;
    top: 491px;
}

/*quote*/
.quote{
    display: flex;

}

.quote > .quote-move{
    margin: 35px;
    margin-bottom: 2px;
    padding: 0;
    padding-bottom: 2px;
    left: 350px;
    justify-content: space-around;
    position: relative;
    top: 500px;
    max-width: 800px;
    
}

.quote-txt{
    font-family: Inkfree, Ink Free;
    color: black;
    font-weight: 100;
    font-size: 80px;
    padding-bottom: 2px;
    padding-top: 60px;
    margin-bottom: 10px;
      
}


/*icon-genveje*/
    .shortcuts-fp{
        display: flex;
        position: relative;
        padding-bottom: 6.5rem;
        top: 550px;

    }

    .shortcuts-fp > .shortcuts-move-fp{
        padding: 20px;        
       
    }

    .icon-email-white {
        height: 55px;
        width: 75px;
        left: 550px;
        
    }

    .icon-github-white{
        left: 850px;
        height: 55px;
        width: 70px;
    }

    .icon-instagram-white{
        left: 710px;
        height: 60px;
        width: 65px;
    }


/*head title on all page*/
.head-title{
    display: grid;
    grid-template-columns: 489px 936px 0px;
    grid-template-rows: 468px 481px auto;
    gap: 20px;
    padding: 45px;
    margin-right: 0;
    width: 97%;
    padding-right: 0;

}

.h1-title{
    position: relative;
    font-family: nono sans, sans sarif;
    font-weight: 100;
    font-style: italic;
    font-size: 80px;
    color: black;
    text-align: center;
    margin-top: 20px;
    left: 110px;
    text-align: left;
    border-bottom: 4px solid black;
    border-bottom-left-radius: 0;
    margin-right: 693px;

}

.h1-hobby-title{
    border-bottom-right-radius: 31px;
    margin-bottom: 0;
    padding-bottom: 0;
    

    
}

.head-title > .head-section-div-yt, .head-section-div-aboutme{
    text-align: center;
    padding: 0 0;
}



/*hobby - youtube */
.h2-title{
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    color: black;
    text-align: left;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 60px;
}



.p-paragraf{
    width: 100%;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22.5px;
    text-align: left;    
    color: black;
    margin: 0;
    line-height: 30px;

}

.second-paragraf{
    margin-top: 107px;
}

.photo-p{
    width: 100%;
    margin-top: 0;
}

.whitebox{
    background-color: white;
    width: 90%;
    margin: 108px 38px 20px;
    padding: 10px ;
    border-radius: 5px;    
    opacity: 0.5;
    height: 450px;
    padding-right: 0;
  
}

/*hobby - photograph*/
.hobby-grid-photograph{
    display: grid;
    grid-template-columns: 365px 335px 0;
    grid-template-rows: 98px 481px auto;
    background-color: #F8B4B4;
    gap: 20px;
    padding: 45px 45px 45px 0;
    width: 97%;
    margin-left: 0;
    margin-right: 0;
   
}

.hobby-grid-photograph > .head-section-div-photo{
    text-align: left;
    padding: 0 0;
    
}

.img-photograph-top-left{
    height: 476px;
    width: 324px;
    margin: 0;
}

.img-photograph-top-middel{
    height: 481px;
    width: 298px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

}

.img-photograph-buttom-right{
    height: 475px;
    width: 310px;
    margin-left: 42px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

}

.badminton-right{
    margin-left: 428px;
}

.img-photograph-buttom-left{
    height: 600px;
    width: 430px;
    margin: 0;

}

.img-photograph-buttom-middel{
    height: 600px;
    width: 438px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.hobby-grid-slider{
    display: grid;
    grid-template-columns: 489px 550px 308px;
    grid-template-rows: 83px 481px 200px;
    gap: 20px;
    padding: 45px;
    margin-right: 0;
    width: 97%;
    padding-right: 0;
}

.hobby-grid-slider > .head-section-div-slider{
    text-align: left;
    padding: 0 0;
    
}

/*hobby - slideshow - billeder*/
    .slider {
        width: 300px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
    }

/*Work (designprojects - slideshow - billeder*/
    .slider-dp{
        width: 600px;
        height: 431px;
    }

    .image-container-dp{
        width: 2000px;
        height: 200px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
        z-index: 1;
    }


    
        
        .image-container {
        width: 1600px;
        height: 501px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
        z-index: 1;
    }
    
    .slide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
        height: 500px;
        width: 326px;
    }
    
    #slide-1:target ~ .image-container {
        left: 0px;
    }
    
    #slide-2:target ~ .image-container {
        left: -326px;
    }
    #slide-3:target ~ .image-container {
        left: -652px;
    }

    #slide-4:target ~ .image-container {
        left: -978px;
    }

    #slide-5:target ~ .image-container {
        left: 0;
    }

    #slide-6:target ~ .image-container {
        left: -326px;
        
    }

    #slide-7:target ~ .image-container {
        left: -652px;
        
    }
    
    #slide-8:target ~ .image-container {
        left: -978px;
        
    }
              
    .buttons {
        position: relative;
        top: -300px;
        z-index: 1;
    }
              
    .buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: white;
        margin-top: 70px;

    }

    
/*about me*/
.aboutme-page{
    grid-template-columns: 489px 403px 494px;
    grid-template-rows: 126px 268px 200px;
    row-gap: 10px;
    padding-top: 100px;
    
}
/*about me - title*/
.h1-aboutme-title{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    margin-top: 20px;
    bottom: 20px;
    left: 50px;
    width: 78%;
    color: black;
    border-bottom-right-radius: 30px;
    border-bottom: 10px solid white;
}

/*about me - paragraf*/
.p-aboutme{
    font-size: 30px;
    line-height: 40px;
    font-style: normal;
    width: 115%;
    color: black;
    text-align: left;
    left: 0;
}

/*about me - photo*/
.photo-aboutme{
    margin-right: 400px;
}
.photo-aboutme-edit{
    height: 297px;
    width: 249px;
}

.h2-aboutme{
    font-size: 40px;
    top: 50px;
    color: black;
}

.aboutme-mail-txt{
    top: 10px;
    color: black;
    font-family: noto sans, sans-serif;
    position: relative;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
    bottom: 40px;
    left: 0px;
    margin-right: 117px;
    text-align: center;
}

.aboutme-mail-txt:hover{
    color: white;
}

.mail-icon-aboutme{
    left: 0px;
    top: 25px;
    width: 40px;
    bottom: 0px;
    height: 30px;
    position: relative;
}

.aboutme-icon{
    height: 33px;
    width: 38px;
    position: relative;
    right: 61px;
    top: 34px;
}

.aboutme-icon-youtube{
    width: 46px;
}

.button-style-aboutme{
    position: relative;
    
}

.btn-aboutme{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    color: black;
    width: 30%;
    top: 50px;
    margin-left: 10px;
    left: 100px;
    
}

.btn-aboutme:hover{
    background-color: black;
    color: white;
}

.aboutme-logo{
    position: relative;
    bottom: 100px;
    right: 62px;
    width: 334px;
    height: 160px;
}


/*school project & designproject*/
.title-row{
    display: flex;
}

.h1-schoolproject-title{
    top: 150px;
    width: 25%;
    left: 0;
    right: 0;
    margin-top: 0;
    text-align: center;
    position: absolute;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    color: #575757;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    border-bottom: 5px solid black;



}

.sp_grid{
    display: grid;
    grid-template-columns: 32% 33% 32%;
    grid-template-rows: 700px ;
    gap: 20px;
    width: 101%;
    margin-top: 300px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.head-section-div-sp{
    text-align: center;
    padding: 20px 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    border-bottom: 5px solid black;

}

.sp_grid-dp{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 700px ;
    gap: 20px;
    width: 101%;
    margin-top: 300px;
    margin-bottom: 40px;
}

.head-section-div-dp{
    text-align: center;
    padding: 20px 20px;
    margin-left: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: #dabaf1;
    border-radius: 30px;
    border-bottom: 5px solid white;
    box-shadow: 0 4px 6px 0 grey;

}

.head-section-div-dplogo{
    background-color: grey;
    border-bottom: 5px solid black;
    box-shadow: 0 4px 8px 0 grey;
}


.head-section-div-sp:hover{
    background-color: grey;
    border-bottom: 5px solid white;
    color: white;
    box-shadow: 0 4px 8px 0 white;

}




.background-sp{
    background-color: white;
    border-radius: 10px;
    height: 55px;
    width: 25%;
    padding: 10px;
}



.h2-sp-title{
    margin-top: 20px;
    text-align: center;
    
}

.h2-sp-title_a{
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: black;
    margin-top: 20px;
    top: 20px;
}


.p-main-work, .p-main-work-dp-cheerz{
    text-align: center;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    margin-top: 400px;
    bottom: 10px;
    line-height: 35px;
    color: black;
        
}

.p-main-work-dp-cheerz{
    margin-top: 200px;
    font-size: 30px;
    font-weight: 400;
}




.img-sp-exam{
    width: 460px;
    height: 309px;
    left: 2px;
    margin-top: 102px;
    border-radius: 20px;
    opacity: 0.2;
}

.img-sp-exam:hover{
    opacity: 1;
}

.img-sp-wordpress{
    width: 470px;
    height: 309px;
    left: 512px;
    margin-top: 100px;
    border-radius: 20px;
    opacity: 0.2;
}

.img-sp-wordpress:hover{
    opacity: 1;
}

.img-sp-iværksætter{
    width: 460px;
    height: 309px;
    right: -12px;
    margin-top: 102px;
    border-radius: 20px;
    opacity: 0.2;
}

.img-sp-iværksætter:hover{
    opacity: 1;
}


/*Design project - slideshow (cheerz)*/


#slide-sortoghvid:target ~ .image-container-dp {
    left: 150px;
}

#slide-pb:target ~ .image-container-dp {
    left: -380px;
    
}

#slide-banner:target ~ .image-container-dp {
    left: -970px;
    
}


/*Design project - slideshow (logo)*/


#slide-oldlogo:target ~ .image-container-dp {
    left: -1550px;
}

#slide-newlogo:target ~ .image-container-dp {
    left: -2000px;
    
}

#slide-favicon:target ~ .image-container-dp {
    left: -2500px;
    
}


/*Design project - pictures*/
.img-dp-cheerz_sort{
    width: 313px;
    height: 164px;
    top: 20px;
    margin-right: 200px;
}



.img-dp-cheerz_pb{
    width: 316px;
    height: 303px;
    top: 20px;
    margin-right: 20px;
}

.img-dp-cheerz_banner{
    top: 150px;
    width: 455px;
    height: 256px;
    margin-left: 200px;
    margin-right: 200px;
}

.img-dp-cheerz_hvid{
    width: 313px;
    height: 164px;
    top: 190px;
    left: -31px;
}


.img-dp-old_logo{
    width: 290px;
    height: 288px;
    top: 149px;

}

.img-dp-new_logo{
    bottom: 121px;
    width: 346px;
    height: 176px;
    left: 1288px;
}

.img-dp-favicon{
    bottom: 200px;
    width: 341px;
    height: 304px;
    left: 1440px;

}





/*footer - forside*/
#page-container {
    position: relative;
    height: 643px;
    z-index: -1;

  }
  
  #content-wrap {
    padding-bottom: 1.5rem;    /* Footer height */

}
  
  #footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 20px;
    padding-top: 15px;
    width: 101%;
    font-style: italic;
    height: 2.5rem;    
    text-align: center;
    border-top: 2px solid white;
    color: white;
    font-family: Sitka, sans-serif ;

  }

/*navbar*/
#nav{
    width: 100%;
    position: relative;
}

.logo_area{
    position: absolute;
    left: 43%;
    top: 0;
    content:"";
}

img{
    width: 230px;
    height: 110px;
}

.inner-navbar{
    margin: 0 auto;
    width: 70%;
    list-style-type: none;
}

.inner-navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.inner-navbar ul li{
    float: none;
    display: inline block;
    
}

.inner-navbar ul li:nth-child(1){
    float: left;
}

.inner-navbar ul li:nth-child(2){
    float: left;
   
}
.inner-navbar ul li:nth-child(3){
    float: right;
    margin-right: -50px;
}

.inner-navbar ul li:nth-child(4){
    float: right;
    
}

.inner-navbar ul li a{
 color: black;
 font-size: 1.7em;
 text-transform: uppercase; 
 text-decoration: none;
 display: block;
 padding: 30px 80px;
 font-family: Sitka;
 font-weight: 400;
}

.inner-navbar ul li a:hover{
    color: #F8B4B4;
}



/*footer - index og loadingpage*/
.credit-txt{
    color: white;
    font-family: Sitka, sans-serif;
    position: fixed;
    border-top: 1px solid white;
    padding-top: 12px;
    padding-bottom: 10px;
    bottom: 0;
    margin-left: 6px;
    width: 100%;
    text-align: center;
    font-style: italic;
    z-index: 2;
    margin-bottom: 0;

}

.loading-page-credit-txt{
    margin-left: 0;
    margin-right: 0;
    width: 101%;
    position: fixed;
}

.aboutme-credit-txt{
    width: 100.6%;
    position: relative;
}

/*footer almindelig*/
.body-footer{
    background-color: #F8B4B4;
    width: 99.5%;
    left: -3px;
    margin-top: 0px;
    margin-bottom: 0;
    position: absolute;
    display: grid;
    grid-template-rows: 74px 120px;
    grid-template-columns: 49% 49%;
    gap: 10px;
    padding: 5px;

}

.body-footer > .grid-container-footer-left{
    text-align: center;
    padding: 2px 0;
    font-size: 15px;
  }



/*footer almindelig - logo*/
.footer-logo{
    height: 148px;
    width: 284px;
    left: 615px;


}

.head-text{
    font-family: noto sans, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: white;
    margin-bottom: 1px;
    font-size: 30px;
}  

/*footer almindelig - head-text*/
.undertext{
    font-family: SitkaSubheading, Sitka Subheading;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 23px;
    font-size: 25px;
}

.contact-headline{
    margin-top: 16px;
}


/*footer almindelig - social media icons*/
.socialmedia-logo{
    position: absolute;
    right: 180px;
    bottom: 70px;
}
.icon-small-version{
    height: 30px;
    width: 32px;
    position: relative;
    right: 20px;
}

.tiktok{
    height: 30px;
    width: 25px;
}

.youtube{
    height: 30px;
    width: 45px;
}




.contact-text{
    font-family: noto sans, sans-serif;
    position: relative;
    margin-right: 45px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
    top: 0px;
    left: 30px;
}

.contact-text:hover{
    color: black;
}

.contact-text-downloadcv{
    top: 20px
}

/*Work page*/
.work-main{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 0px 420px 20px;
    gap: 20px;
    padding: 45px 45px 45px 45px;
    width: 95%;
}

.work-main > .head-section-div-work-main{
    text-align: center;
    padding: 0 0;
}

.h1-work-title{
    position: absolute;
    font-family: nono sans, sans sarif;
    font-weight: 100;
    font-style: italic;
    font-size: 60px;
    color: black;
    text-align: center;
    margin-top: 20px;
    width: 42%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom: 10px solid white;
    margin-left: 50px;
    left: 410px;

}

.p-paragraf-main{
    text-align: center;
    position: relative;
    top: 118px;
    right: 236px;
    padding: 10px 10px 10px 10px;
    width: 200%;
    margin-left: 0;
    font-size: 30px;
   

}

/*work page - buttons*/
.work-buttons{
    top: 2px;
    float: right;
    position: absolute;

}
.btn-work-main{
    padding: 20px 20px 20px 20px;
    background-color: #444054;
    color: white;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-size: 25px;
    width: 230px;
    top: 370px;
    
}

.btn_work_school{
    left: -20px;
}

.btn_work_design{
    left: 280px;
}

.btn_work_design:hover, .btn_work_school:hover{
    background-color: white;
    color: black;
}

.btn_work_style{
    color: white;
    text-decoration: none;
}

.btn_work_style:hover{
    color: black;
}


  

/*bærbar version - 1500x908*/
@media screen and (min-width: 1600px) {
    /*index - 1500x908*/
    .intro-title{
        font-size: 80px;
        max-width: 1000px;
    }

    .intro-txt{
        width: 1000px;
        line-height: 1.5;
    }

    .button_picture{
        width: 185px;
        height: 137px;
    }

    /*loading page - 1500x908*/
    .loading-page{
        left: 775px;
        top: 451px;
    }

    .logo_area-loadingpage{
        left: 40%
    }

    /*forside - 1500x908*/
    .forside-txt{
        font-size: 35px;
        left: 600px;
    }

    button{
        left: 600px;
        font-size: 30px;
        width: 228px;
        height: 43px;
    }

    .forside-title{
        font-size: 100px;
        margin-left: 322px;

    }

    .img{
        width: 211px;
        height: 245px;
        left:325px;
    }

    .forside-billede-1{
        width: 331px;
        height: 580.175px;
    }

    .icon-location-1{
        right: 302px;
        top: 592px;
    }

    .billede-1-lokation{
        top: 576px;
    }

    .icon-camera-1{
        width: 32.83px;
        right: 297px;
        top: 646px;

    }

    .billede-1-kamera{
        left: 69px;
        top: 627px;
    }

    .quote > .quote-move{
        left: 415px;
        max-width: 1005px;
    }

    .icon-github-white{
        left: 1003px;
    }

    .icon-instagram-white{
        left: 839px;
    }

    .icon-email-white{
        left: 667px;
    }



}



