h1{
    color: white;
    font-family: SitkaSubheading, Sitka Subheading;
    font-size: 50px;
    text-align: center;
}

h2{
    color: white;
    font-family: SitkaSubheading, Sitka Subheading;
    font-size: 20px;
    text-align: center;
}

.index_icon{
    width: 50px;
    height: 50px;
    position: relative;
    padding: 20px;
    text-align: center;
    left: 400px;
}


.index_mail{
    width: 65px;
}

.index_yt{
    width: 70px;
}

.index_logo{
    position: relative;    
    top: 150px;
    right: 100px;

}

/*Mobile version - Ipad*/
@media screen and (min-width: 750px) and (max-width:819px) {
    .index_icon{
        left: 32px;
    }

    .index_logo{
        left: 134px;
        width: 436px;
        height: 226px;
    }

    h2{
        font-size: 25px;
    }

}

/*Mobile version - Ipad air*/
@media screen and (min-width: 820px) and (max-width:900px) {
    .index_icon{
        left: 67px;
    }

    .index_logo{
        left: 171px;
        width: 436px;
        height: 226px;
    }

    h2{
        font-size: 30px;
    }

}

/*Mobile version - Iphone 12pro*/
@media screen and (max-width: 390px) {
    .index_logo{
    position: absolute;  
    top: 545px;  
    float: left;
    right: 63px;
   
    }

    .index_icon{
        left: 0;
        position: absolute;
        width: 40px;
        height: 40px;
    }

    .index_ig{
        left: 247px;
    }
    
    .index_gh{
        left: 132px;
    }
    
    .index_linkedin{
        top:420px;
        left: 57px;
        width: 42px;
    }

    .index_mail{
        width: 55px;
        top: 420px;
        left: 178px;
    }
    
    .index_yt{
        width: 60px;
        left: -2px;
    }
}

/*Mobile version - Iphone SE*/
@media screen and (min-width: 375px) and (max-width:376px) {
    .index_logo{
        position: absolute;
        top: 564px;
        float: left;
        right: 46px;
       
        }
    
        .index_icon{
            left: 0;
            position: absolute;
            width: 40px;
            height: 40px;
        }
    
        .index_ig{
            left: 254px;
        }
        
        .index_gh{
            left: 130px;
        }
        
        .index_linkedin{
            top:444px;
            left: 69px;
            width: 42px;
        }
    
        .index_mail{
            width: 55px;
            top: 444px;
            left: 185px;
        }
        
        .index_yt{
            width: 60px;
            left: -2px;
        }

        h2{
            width: 80%;
            margin-left: 39px;
        }

        h1{
            font-size: 40px;
        }
    
}

/*Mobile version - Iphone XR*/
@media screen and (min-width: 376px) and (max-width: 415px){
    .index_logo{
        position: absolute;  
        top: 545px;  
        float: left;
        right: 63px;
       
        }
    
        .index_icon{
            left: 0;
            position: absolute;
            width: 40px;
            height: 40px;
        }
    
        .index_ig{
            left: 271px;
        }
        
        .index_gh{
            left: 148px;
        }
        
        .index_linkedin{
            top:420px;
            left: 85px;
            width: 42px;
        }
    
        .index_mail{
            width: 55px;
            top: 420px;
            left: 202px;
        }
        
        .index_yt{
            width: 60px;
            left: 13px;
        }
}

/*Mobile version - Iphone large*/
@media screen and (min-width: 416px) and (max-width: 500px){
    .index_icon{
        left: 10px;
    }

    .index_mail{
        left: 69px;
    }

    .index_yt{
        left: 52px;
    }

    .index_logo{
        height: 150px;
        width: 292px;
        left: 45px;
    }
}

/*Mobile version - laptop*/
@media screen and (min-width: 1023px) and (max-width: 1439px){
    .index_icon{
        left: 179px;
    }

    .index_logo{
        height: 248px;
        width: 455px;
        left: 284px;
        top: 19px;
    }
}

/*Mobile version - big laptop*/
@media screen and (min-width: 1439px) and (max-width: 1500px){
    .index_icon{
        left: 179px;
    }

    .index_logo{
        height: 248px;
        width: 455px;
        left: 284px;
        top: 19px;
    }
}

/*Mobile version - big laptop*/
@media screen and (min-width: 1501px) and (max-width: 1700px){
    .index_icon{
        left: 489px;
        bottom: 87px;
    }

    .index_logo{
        height: 248px;
        width: 455px;
        right: 83px;
        top: 312px;
    }

    h1{
        font-size: 70px;

    }

    h2{
        font-size: 35px;
    }
}

/*Mobile version - big laptop*/
@media screen and (min-width: 1701px) and (max-width: 2000px){
    .index_icon{
        left: 600px;
        bottom: 87px;
    }

    .index_logo{
        height: 248px;
        width: 455px;
        left: 10px;
        top: 312px;
    }

    h1{
        font-size: 70px;

    }

    h2{
        font-size: 35px;
    }
}



/*Mobile version - big ass laptop*/
@media screen and (min-width: 2560px) and (max-width: 3000px){
    .index_icon{
        left: 927px;
        bottom: 109px;
    }

    .index_logo{
        height: 248px;
        width: 455px;
        left: 323px;
        top: 296px;
    }

    h2{
        font-size: 50px;
    }

    h1{
        font-size: 100px;
    }
}





